@use '../utlities/variables' as *;
@use '../utlities/functions' as *;

.accordion-section {
  padding: 64px 0;
  $accordion: &;

  &--small {
    max-width: 1100px;
    margin: 0 auto;
    #{$accordion}-row {
      display: flex;
      gap: 78px;
    }

    #{$accordion}-image {
      flex: 0 0 362px;
    }

    #{$accordion}-content {
      flex: 1;
    }
  }

  &-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 48px;
  }

  &-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    counter-reset: accordion-counter;
    $list: &;

    &__item {
      margin-bottom: 48px;
      padding: 32px 16px;
      background: rgba(254, 253, 253, 0.5);
      border: 2px solid #fefdfd;
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
      border-radius: 24px;
      &:last-child {
        margin-bottom: 0;
      }

      &--acitve {
        #{$list}__item-button {
          &::after {
            transform: translateY(-50%) rotate(0deg);
          }
        }
        #{$list}__item-content {
          max-height: 500px;
          max-height: max-content;
          opacity: 1;
          padding-top: 16px;
        }
      }

      &-title {
        margin: 0;
      }

      &-button {
        padding: 0;
        margin: 0;
        background-color: transparent;
        border: 0;
        font-weight: bold;
        color: $colorEmerald;
        position: relative;
        width: 100%;
        text-align: left;
        cursor: pointer;
        &::before {
          content: counter(accordion-counter);
          counter-increment: accordion-counter;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 48px;
          height: 48px;
          background: rgba(31, 90, 87, 0.1);
          color: #74d2ad;
          border-radius: 100px;
          margin-right: 16px;
          font-family: $headingFontFamily;
        }

        &::after {
          content: '';
          background: url('@images/icon/arrow-bottom-large.svg');
          position: absolute;
          top: 50%;
          transform: translateY(-50%) rotate(180deg);
          right: 0;
          width: 17px;
          height: 10px;
        }
      }

      &-content {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        padding-top: 0;
        transition: max-height 0.4s ease, opacity 0.3s ease,
          padding-top 0.3s ease;
        p {
          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
