@use '../utlities/variables' as *;
@use '../utlities/functions' as *;
@use '../utlities/mixins' as *;

.case-study {
  &-testimonial {
    overflow-x: hidden;
    padding: 32px 0;
    @include mediaUp(lg) {
      padding: 64px 0;
    }
    .splide__slide {
      padding: 15px;
      @include mediaUp(lg) {
        padding: 50px;
      }
    }
    .splide__track {
      margin: -15px 30px;
      @include mediaUp(lg) {
        margin: -50px;
      }
    }

    .splide__pagination {
      position: initial;
      margin-top: 36px;

      li {
        margin-right: 16px;
        &:last-child {
          margin-right: 0;
        }
      }
    }

    .splide__pagination__page {
      width: 12px;
      height: 12px;
      background-color: #d9d9d9;
      transform: scale(0.66);

      &.is-active,
      &:hover {
        background-color: rgba(0, 0, 0, 0.53);
        transform: scale(1);
      }
    }

    &-button {
      display: flex;
      align-items: center;
      justify-self: center;
      margin-top: 32px;
      @include mediaUp(lg) {
        margin-top: 64px;
      }
    }
  }
  &-item {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 25px rgba(31, 90, 87, 0.25);
    border-radius: 32px;
    overflow: hidden;
    background: radial-gradient(50% 50% at 50% 50%, #fefdfd 0%, #b6e8d7 100%);
    border: 1px solid rgba(255, 255, 255, 0.16);
    color: #113264;
    @include mediaUp(md) {
      flex-direction: row;
      justify-content: space-between;
    }

    &-content,
    &-testimonial {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &-content {
      background-color: $colorPearl;
      @include mediaUp(md) {
        flex: 0 0 330px;
      }

      &__main {
        padding: 16px 24px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      &__name {
        font-size: pxToRem(14);
        margin: 0;
      }

      &__title {
        margin: 0 0 16px;
      }
    }

    &-testimonial {
      justify-content: center;
      padding: 32px;
      @include mediaUp(lg) {
        padding: 48px;
      }
      &__logo {
        height: 43px;
        width: auto;
        margin-bottom: 32px;
        @include mediaUp(lg) {
          margin-bottom: 48px;
        }
      }

      &__footer {
        margin-top: 32px;
        @include mediaUp(lg) {
          margin-top: 48px;
        }
      }
    }
  }
}
