@use '../utlities/variables' as *;
@use '../utlities/functions' as *;

.chess-board {
  padding: 64px 0 96px;
  background-color: $colorWhite;
  border-radius: 64px;
  &-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 48px;
    margin-bottom: 96px;
    font-size: pxToRem(18);
    align-items: flex-start;
    $item: &;
    &:last-child {
      margin-bottom: 0;
    }

    &__content {
      padding: 32px 0;
    }

    &__pretitle {
      margin-top: 0;
      margin-bottom: 8px;
      color: #113264;
    }

    &__title {
      margin-top: 0;
      margin-bottom: 48px;
    }

    &__text {
      margin-bottom: 48px;

      p {
        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__summary {
      margin-bottom: 48px;
      display: flex;
      align-items: center;
      &-name {
        font-family: $headingFontFamily;
        font-size: pxToRem(29);
        font-weight: 900;
        margin-right: 16px;
      }
    }

    &__thumbnail {
      position: relative;

      &-img {
        display: block;
        box-shadow: 0px 0px 15px rgba(31, 90, 87, 0.25);
        border-radius: 64px 64px 0px 64px;
      }

      &-icon {
        position: absolute;
        width: 240px;
        height: 240px;
        object-fit: contain;
        right: -90px;
        bottom: 0;
      }
    }

    &--right {
      #{$item}__thumbnail {
        order: -1;

        &-img {
          border-radius: 0px 64px 64px 64px;
        }

        &-icon {
          right: initial;
          bottom: initial;
          left: -90px;
          top: 0;
        }
      }
    }
  }
}
