@use '../utlities/variables' as *;
@use '../utlities/functions' as *;
@use '../utlities/mixins' as *;

.contact-form {
  &-content {
    padding: 32px 0;
    @include mediaUp(md) {
      padding: 64px 0;
    }
    &-row {
      display: grid;
      grid-gap: 48px;
      grid-template-columns: 1fr;
      font-size: pxToRem(18);
      align-items: center;
      @include mediaUp(md) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &-content {
      padding: 0;
      @include mediaUp(md) {
        padding: 64px 0;
      }
      &__title {
        margin-top: 0;
        margin-bottom: 32px;
        @include mediaUp(md) {
          margin-bottom: 48px;
        }
      }

      &__person {
        margin-top: 32px;

        &--desktop {
          display: none;
        }
        @include mediaUp(md) {
          margin-top: 48px;
          display: block;
          &--mobile {
            display: none;
          }
        }
      }
    }
  }
}

.wpcf7-not-valid-tip {
  color: #ff9e95;
}
