@use '../utlities/variables' as *;
@use '../utlities/functions' as *;
@use '../utlities/mixins' as *;

.contact-person {
  &-row {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    @include mediaUp(md) {
      grid-gap: 72px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__title {
    margin: 0 0 4px;
  }

  &__role {
    margin: 0;
    font-size: pxToRem(18);
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &__social {
      margin-top: 24px;
    }
  }

  &-avatar {
    position: relative;
    &__image {
      object-fit: contain;
      object-position: left bottom;
      display: block;
      max-width: 250px;
      @include mediaUp(md) {
        width: 100%;
        max-width: 100%;
      }

      &-icon {
        position: absolute;
        bottom: 0;
        width: 70px;
        height: 70px;
        left: -20px;
        @include mediaUp(md) {
          width: 96px;
          height: 96px;
          left: -36px;
        }
      }
    }
  }

  a {
    color: $colorEmerald;
  }
}

// $colorEmerald
