@use '../utlities/variables' as *;
@use '../utlities/functions' as *;
@use '../utlities/mixins' as *;

.contact-member-information {
  &__avatar {
    overflow: hidden;
    border-radius: 24px 0 0 24px;
    @include mediaUp(md) {
      flex: 0 0 176px;
    }

    &-image {
      height: 100%;
      object-fit: cover;
    }
  }
  &-row {
    display: flex;
    flex-direction: column;
    grid-gap: 24px;
    padding: 20px;
    @include mediaUp(md) {
      flex-direction: row;
      gap: 48px;
    }

    &__content {
      @include mediaUp(md) {
        padding: 20px;
        font-size: pxToRem(18);
        align-self: center;
      }

      &-title {
        margin: 0;
        margin-bottom: 12px;
        @include mediaUp(md) {
          margin-bottom: 24px;
        }
      }

      &__area {
        &-name {
          @include mediaUp(md) {
            font-size: pxToRem(18);
          }
          font-weight: bold;
        }

        &-name,
        &-phone,
        &-email {
          margin: 0;
        }
      }
    }
  }
}
