@use '../utlities/variables' as *;
@use '../utlities/functions' as *;

.easy-supported-integration {
  padding: 64px 0;
  &-box {
    &__numbers {
      padding: 32px 0;
    }
  }

  &-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    grid-gap: 48px;
    margin-top: 64px;
  }

  &-content {
    &__text {
      font-size: pxToRem(18);
      margin: 0 0 24px;
    }
  }
}
