@use '../utlities/variables' as *;
@use '../utlities/functions' as *;
@use '../utlities/mixins' as *;

.get-in-touch {
  padding: 32px 0 50px;
  margin-bottom: -20px;
  overflow-x: hidden;
  @include mediaUp(xl) {
    padding: 64px 0 110px;
  }
  &-banner {
    background: linear-gradient(180deg, #74d2ad -70.98%, #1f5a57 99.95%);
    box-shadow: 0px 0px 15px rgba(31, 90, 87, 0.5);
    border-radius: 64px 64px 0 64px;
    color: $colorPearl;
    font-size: pxToRem(18);
    position: relative;
    padding: 32px 24px;

    @include mediaUp(md) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @include mediaDown(xl) {
      align-items: center;
    }

    @include mediaUp(xl) {
      padding: 48px 64px;
    }

    &__plus {
      position: absolute;
      filter: drop-shadow(0px 0px 15px rgba(31, 90, 87, 0.5));
      bottom: -30px;
      right: -30px;
      width: 80px;
      height: 80px;
      @include mediaUp(xxl) {
        bottom: -60px;
        right: -60px;
        width: 160px;
        height: 160px;
      }
    }
  }

  &-content {
    &__title {
      margin: 0 0 32px;
      color: #fefdfd;
    }

    &__text {
      margin: 0 0 40px;
    }
  }

  &-additional {
    margin-top: 30px;
    @include mediaUp(md) {
      margin-top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @include mediaUp(xxl) {
      display: grid;
      grid-template-columns: 4fr 6fr;
      align-items: initial;
    }
  }

  &-imageContent {
    align-self: center;
    &__title {
      color: #fefdfd;
      margin: 0 0 4px;
    }

    &__text {
      margin: 0;
    }
  }

  &-social {
    margin-top: 24px;
  }

  &-image {
    position: relative;
    &__img {
      display: none;
    }

    &__mobile {
      display: block;
      margin-bottom: 1rem;
      max-width: 300px;
      max-height: 200px;
      object-fit: contain;
      object-position: top left;
    }

    @include mediaUp(xxl) {
      &__mobile {
        display: none;
      }
      &__img {
        border-radius: 0;
        height: auto;
        position: absolute;
        bottom: -48px;
        left: 50%;
        transform: translateX(-50%);
        max-width: calc(100% + 200px);
        display: block;
      }
    }
  }

  .social-links__link-text {
    text-decoration: underline;
  }
}
