@use '../utlities/variables' as *;
@use '../utlities/functions' as *;

.hero {
  background-color: $colorEmerald;
  color: $colorWhite;
  padding: 32px 0 32px;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 64px 64px;

  &-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: top;
    z-index: 1;
  }

  .container {
    position: relative;
    z-index: 2;
  }

  &-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 48px;
    align-items: center;
  }

  &-content {
    font-size: pxToRem(18);
    &__heading {
      margin-top: 0;
      margin-bottom: 16px;
    }

    &__text {
      margin-bottom: 0;
      margin-top: 0;
    }

    &__button {
      margin-top: 48px;
    }
  }

  &-logos {
    margin-top: 64px;
    margin-bottom: 64px;
    &__title {
      margin-bottom: 64px;
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      &__image {
        filter: brightness(0) invert(1);
        height: 44px;
      }
    }

    .splide__track {
      position: relative;
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        width: 200px;
        z-index: 10;
      }

      &::before {
        left: 0;
        background: linear-gradient(
          90deg,
          rgba(31, 90, 87, 1) 0%,
          rgba(31, 90, 87, 0.66) 40%,
          rgba(31, 90, 87, 0) 100%
        );
      }

      &::after {
        right: 0;
        background: linear-gradient(
          270deg,
          rgba(31, 90, 87, 1) 0%,
          rgba(31, 90, 87, 0.66) 40%,
          rgba(31, 90, 87, 0) 100%
        );
      }
    }
  }
}
