@use '../utlities/variables' as *;
@use '../utlities/functions' as *;
@use '../utlities/mixins' as *;
@use '../general/typography' as *;

.hero-section-image {
  overflow-x: hidden;
  background: linear-gradient(173.54deg, #74d2ad -104.98%, #1f5a57 94.91%);
  color: $colorWhite;
  border-radius: 0 0 48px 48px;
  padding: 40px 0 30px;
  @include mediaUp(md) {
    padding: 70px 0px 60px;
    border-radius: 0px 0px 64px 64px;
  }
  $hero: &;

  @include mediaDown(md) {
    .hero-section-image-content__heading {
      font-size: 2.5rem;
    }
  }

  &--video {
    #{$hero}-content__preheading {
      color: #b6e8d7;
      @extend .text-subheader;
      text-align: left;
      margin: 0 0 8px;
    }

    #{$hero}-content__heading {
      margin-bottom: 48px;
    }

    #{$hero}-row {
      display: grid;
      grid-gap: 30px;
      @include mediaUp(lg) {
        grid-gap: 60px;
        grid-template-columns: repeat(2, 1fr);
      }
    }

    #{$hero}-content,
    #{$hero}-thumbnail {
      flex: initial;
      width: initial;
      min-width: 0;
    }
  }

  &--smallp {
    padding: 32px 0;
    @include mediaUp(md) {
      padding: 64px 0 72px;
    }
  }

  &-row {
    display: flex;
    flex-direction: column;

    @include mediaUp(md) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &-content,
  &-thumbnail,
  &-slider,
  &-post {
    flex: 1;
    @include mediaUp(md) {
      flex: 0 0 48%;
      width: 48%;
    }
  }

  &-slider,
  &-post,
  &-thumbnail {
    order: 2;
    margin-top: 30px;
    @include mediaUp(md) {
      order: initial;
      margin-top: 0;
    }
  }

  &-content {
    &__heading {
      color: inherit;
      margin: 0 0 16px;
    }

    &__text {
      margin: 0 0 48px;
    }
  }

  &-thumbnail {
    position: relative;
    @include mediaDown(md) {
      margin-top: 20px;
      order: 2;
    }
    &__image {
      width: auto;
      max-height: 400px;
      @include mediaUp(md) {
        max-height: initial;
        left: 0;
        width: 100%;
        max-width: 770px;
        border-radius: 50px;
        overflow: hidden;
      }
    }

    &--video {
      display: flex;
      align-items: center;
      justify-content: center;
      iframe,
      video {
        max-width: 100%;
        object-fit: contain;
        filter: drop-shadow(0px 0px 15px rgba(31, 90, 87, 0.25));
        border-radius: 32px;
        overflow: hidden;
      }
    }
  }

  &-slider {
    position: relative;

    &::before {
      content: '';
      background: $colorGHeadingOrange;
      color: #113264;
      border: 1px solid rgba(255, 255, 255, 0.16);
      box-shadow: 0px 0px 15px rgba(31, 90, 87, 0.25);
      border-radius: 32px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .testimonial-box {
      background: transparent;
      box-shadow: none;
      border: 0;
      &-footer {
        color: #1b4845;
      }
    }

    .splide__pagination {
      padding: 0;
      position: initial;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24px, 1fr));
      grid-gap: 4px;
      line-height: 0;
      margin-top: 8px;
      max-width: 90%;
      margin: 8px auto 0;

      .splide__pagination__page {
        width: 100%;
        height: 5px;
        background: #ebfef8;
        border-radius: 2px;
        margin: 0;
        padding: 0;

        &.is-active,
        &:hover {
          transform: none;
          opacity: 1;
        }
      }
    }
  }

  &-post {
    &-box {
      position: relative;
      border-radius: 48px;
      z-index: 1;
      color: $colorEmerald;
      overflow: hidden;

      &::before {
        content: '';
        border-radius: 48px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(254, 253, 253, 0.5);
        border: 2px solid #fefdfd;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
        z-index: -1;
      }

      &__thumbnail {
        height: 240px;
        width: 100%;
        position: relative;
        border-radius: 48px 48px 0 0;
        overflow: hidden;
        border: 2px solid #fefdfd;
        border-bottom: 0;

        &-image {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top center;
        }
      }

      &__badges {
        margin-bottom: 16px;

        a,
        span {
          display: block;
        }
      }

      &__content {
        padding: 16px 32px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &-title {
          margin: 0 0 16px;
        }

        &-excerpt {
          margin: 0 0 32px;
        }
      }
    }

    &-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
  }

  &-boxes {
    margin-top: 32px;
    @include mediaUp(md) {
      margin-top: 64px;
    }

    @include mediaDown(md) {
      .grid-boxes-list {
        grid-gap: 32px;
      }
    }
  }
}
