@use '../utlities/variables' as *;
@use '../utlities/functions' as *;
@use '../utlities/mixins' as *;
@use '../general/container' as *;

.oportunity-carousel {
  padding: 64px 0;
  @include mediaUp(xl) {
    padding: 64px 0 128px;
  }

  .splide__slide {
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;

    &.is-active {
      opacity: 1;
    }
  }

  .splide,
  .splide__track,
  .splide__list {
    height: 100%;
  }
  &-row {
    @include mediaDown(xl) {
      max-width: 1296px;
      padding: 0 24px;
      width: calc(100% - 48px);
      margin: 0 auto;
      box-sizing: content-box;
    }
    @include mediaUp(xl) {
      display: flex;
      gap: 100px;
    }
  }

  &-slider {
    @include mediaUp(xl) {
      width: calc(66.66% - 50px);
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      min-height: 100%;
      box-sizing: border-box;
      @include mediaDown(xl) {
        font-size: pxToRem(18);
      }

      &-image {
        width: 64px;
        height: 64px;
        object-fit: contain;
        object-position: center;
      }

      &-title {
        margin: 48px 0 0;
      }
    }
  }

  &-image {
    display: none;
    width: calc(33.33% - 50px);
    position: relative;
    @include mediaUp(xl) {
      display: block;
    }
    &__thumbnail {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 32px;

      &-icon {
        width: 120px;
        height: 120px;
        position: absolute;
        bottom: 0;
        right: -45px;
        filter: brightness(0) invert(1);
      }
    }
  }
}
