@use '../utlities/variables' as *;
@use '../utlities/functions' as *;
@use '../utlities/mixins' as *;

.partners {
  background-color: $colorPearl;
  padding: 32px 0;
  $partner: &;
  @include mediaUp(md) {
    padding: 64px 0;
  }
  &-carousel {
    margin-top: 32px;
    @include mediaUp(md) {
      margin-top: 64px;
    }
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
