@use '../utlities/variables' as *;
@use '../utlities/functions' as *;
@use '../utlities/mixins' as *;

.projects {
  padding: 64px 0;
  $projects: &;

  a:not(.btn) {
    text-decoration: underline;
  }

  &-subtitle {
    margin-top: 0;
    margin-bottom: 32px;
  }

  &-row {
    display: grid;
    align-items: center;
    grid-gap: 24px;
    margin-bottom: 32px;
    @include mediaUp(md) {
      grid-gap: 48px;
      margin-bottom: 64px;
      grid-template-columns: repeat(2, 1fr);
    }
    &:last-of-type {
      margin-bottom: 0;
    }

    &--alt {
      align-items: flex-start;
      padding: 32px 0;
      @include mediaUp(md) {
        padding: 64px 0;
      }

      #{$projects}-right {
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        padding-left: 24px;
      }
    }
  }

  &-left {
    &__title {
      margin: 0 0 24px;
      @include mediaUp(md) {
        margin: 0 0 48px;
      }
    }

    &__content {
      margin: 0;
      font-size: pxToRem(18);
      & > p {
        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &-right {
    &__content {
      font-size: pxToRem(18);
    }

    &__boxes {
      margin-top: 24px;
      @include mediaUp(md) {
        margin-top: 48px;
      }
    }
  }
}
