@use '../utlities/variables' as *;
@use '../utlities/functions' as *;
@use '../utlities/mixins' as *;

.rules-tab {
  padding: 32px 0;
  @include mediaUp(md) {
    padding: 64px 0;
  }

  .container {
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
  }

  &-tabs {
    margin-bottom: 40px;
    @include mediaUp(md) {
      margin-bottom: 140px;
    }
  }

  h5 {
    margin-bottom: 24px;
  }

  h6 {
    margin-bottom: 16px;
  }

  br {
    content: '';
    display: block;
    height: 30px;
  }

  p {
    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &-section {
    display: none;

    &--active {
      display: block;
    }
    &__badges {
      margin-top: 24px;
      cursor: pointer;
    }

    &__item {
      margin-bottom: 64px;
      $item: &;

      &:has(+ #{$item}--downloads) {
        margin-bottom: 48px;
      }

      // if -downloads is the next one then margin bottom 48
      & + &--downloads {
        margin-top: 48px;
      }

      &--downloads {
        margin-bottom: 48px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
