@use '../utlities/variables' as *;
@use '../utlities/functions' as *;
@use '../utlities/mixins' as *;

.rules {
  padding: 64px 0;
  margin: 0 auto;

  .container {
    max-width: 950px;
    width: 100%;
    box-sizing: border-box;
  }

  &-groups {
    display: flex;
    flex-direction: column;
    gap: 32px;
    @include mediaUp(sm) {
      gap: 64px;
    }
  }
}
