@use '../utlities/variables' as *;
@use '../utlities/functions' as *;

.testimonial {
  padding: 64px 0;

  &-container {
    max-width: 848px;
  }

  &-box {
    padding: 48px 64px;
    background: $colorGHeadingOrange;
    color: #113264;
    border: 1px solid rgba(255, 255, 255, 0.16);
    box-shadow: 0px 0px 15px rgba(31, 90, 87, 0.25);
    border-radius: 32px;

    &__logo {
      height: 43px;
      width: auto;
      object-fit: contain;
      object-position: left;
      margin-bottom: 48px;
    }

    &__content {
      margin-bottom: 48px;
      p {
        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &-footer {
      display: flex;
      align-items: center;

      &__avatar {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        margin-right: 20px;
      }

      &__author {
        padding: 8px 0;
        &-name,
        &-role {
          margin: 0;
        }
        &-name {
          font-weight: 600;
          font-size: pxToRem(18);
        }
      }
    }
  }
}
