@use '../utlities/variables' as *;
@use '../utlities/functions' as *;
@use '../utlities/mixins' as *;

.testimonials-carousel-posts {
  .splide {
    width: calc(100% + 104px);
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 48px;
    @include mediaUp(md) {
      margin-bottom: 92px;
    }
  }

  .box-shadow-white {
    overflow: hidden;
  }

  .splide__track {
    margin: -30px 0;
  }

  .splide__slide {
    padding: 30px 0;
    transition: opacity 0.3s ease;
    opacity: 0.5;
    &.is-active {
      opacity: 1;
    }
  }

  .splide__pagination {
    margin-top: 16px;
    position: initial;

    li {
      margin-right: 16px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .splide__pagination__page {
    margin: 0;

    &.is-active {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}
