@use '../utlities/variables' as *;
@use '../utlities/functions' as *;
@use '../utlities/mixins' as *;

.text-icon-grid {
  padding: 32px 0;
  @include mediaUp(xl) {
    padding: 64px 0;
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    margin: 0;
    padding: 0;
    grid-gap: 32px;
    @include mediaUp(xl) {
      grid-gap: 48px 24px;
      padding: 16px 0;
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      &-icon {
        object-fit: contain;
        width: auto;
        margin-bottom: 16px;
        height: 48px;
        @include mediaUp(xl) {
          height: 64px;
        }
      }

      &-title {
        margin: 0 0 16px;
      }

      &-text {
        max-width: 270px;
        p {
          &:first-child {
            margin-top: 0;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
