@use '../utlities/variables' as *;
@use '../utlities/mixins' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 140px;
}

body {
  font-size: $baseFontSize;
  font-family: $baseFontFamily;
  background-color: $colorPearl;
  color: #113264;
  line-height: 1.5;
  overflow-x: hidden;
}

a {
  color: $colorEmerald;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    text-decoration: underline;
  }
}

b,
strong,
.bold {
  font-weight: 900;
}

.semi {
  font-weight: 600;
}

img {
  max-width: 100%;
  height: auto;
}

.alignleft {
  text-align: left !important;
}

.alignright {
  text-align: right !important;
}

.aligncenter {
  text-align: center !important;
}

p {
  line-height: 1.5;
}

.mobile {
  @include mediaUp(lg) {
    display: none;
  }
}

.desktop {
  display: none;
  @include mediaUp(lg) {
    display: block;
  }
}

ol:not([class]) {
  padding-left: 1rem;
}

ul:not([class]) {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    position: relative;
    padding-left: 1rem;
    &::before {
      content: '+';
      font-size: 16px;
      font-weight: 600;
      color: #74d2ad;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

button {
  cursor: pointer;
}

.heading-highlight {
  filter: drop-shadow(0 0 0.5rem rgba(116, 210, 173, 0.5));
  transition: filter 0.3s ease-in-out;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  display: none;
}

main {
  section:nth-child(n + 2) {
    display: none;
  }
}
