@use '../utlities/variables' as *;
@use '../utlities/mixins' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

body {
  font-size: $baseFontSize;
  font-family: $baseFontFamily;
  background-color: $colorPearl;
  color: $colorEmerald;
  line-height: 1.5;
}

a {
  color: $colorEmerald;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    text-decoration: underline;
  }
}

b,
strong,
.bold {
  font-weight: 900;
}

.semi {
  font-weight: 600;
}

img {
  max-width: 100%;
  height: auto;
}

.alignleft {
  text-align: left !important;
}

.alignright {
  text-align: right !important;
}

.aligncenter {
  text-align: center !important;
}

p {
  line-height: 1.5;
}

.mobile {
  @include mediaUp(lg) {
    display: none;
  }
}

.desktop {
  display: none;
  @include mediaUp(lg) {
    display: block;
  }
}

.main {
  & section:last-of-type {
    padding-bottom: 0;
  }
}
