@use '../utlities/variables' as *;

body {
  font-size: $baseFontSize;
  font-family: $baseFontFamily;
  background-color: $colorPearl;
  color: $colorEmerald;
}

a {
  color: $colorEmerald;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    text-decoration: underline;
  }
}

b,
strong,
.bold {
  font-weight: 900;
}

.semi {
  font-weight: 600;
}
