.container {
  max-width: 1296px;
  padding: 0 70px;
  width: 100%;
  margin: 0 auto;
  box-sizing: content-box;

  &--fluid {
    max-width: 100%;
  }

  &--small {
    max-width: 848px;
  }

  &--medium {
    max-width: 1184px;
  }
}
