.section {
  &-title {
    margin-bottom: 96px;
    &__text {
      text-align: center;
      margin: 0;
    }

    &--sub {
      margin-bottom: 48px;
    }

    .text-subheader {
      margin: 0;
    }
  }
}
