@use '../utlities/variables' as *;
@use '../utlities/functions' as *;
@use '../utlities/mixins' as *;

.section {
  &-title {
    margin-bottom: 48px;
    @include mediaUp(lg) {
      margin-bottom: 64px;
    }
    &__text {
      text-align: center;
      margin: 0;
    }

    &--sub {
      margin-bottom: 48px;
    }

    &__header {
      text-align: center;
      display: flex;
      flex-direction: column;
      font-size: pxToRem(18);
      margin-top: 48px;

      br {
        display: none !important;
      }

      & > p {
        &:first-of-type {
          margin-top: 0;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    .text-subheader {
      margin: 0;
    }
  }
}
