@use '../utlities/variables' as *;
@use '../utlities/mixins' as *;

.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 24px;
  transition: all 0.3s ease;
  margin-bottom: 10px;

  @include mediaUp(xl) {
    display: none;
  }

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    outline: none;
  }

  // Active/Open State Animation
  &--active {
    .hamburger__line {
      &:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
      }
    }
  }
}

// Hamburger Lines
.hamburger__line {
  display: block;
  width: 24px;
  height: 2px;
  background-color: $colorWhite;
  transition: all 0.3s ease;
  transform-origin: center;
}
