@use '../utlities/variables' as *;
@use '../utlities/functions' as *;

.single-post-toc:empty::before {
  content: '';
  display: block;
  height: 200px;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
.toc-list {
  padding: 24px 16px;
  background: rgba(254, 253, 253, 0.5);
  border: 2px solid #fefdfd;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
  border-radius: 32px;
  list-style-type: none;

  &__item {
    font-weight: 500;
    font-size: pxToRem(14);
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0;
    }

    &-link {
      text-decoration-line: underline;
      color: #113264;
      display: block;
      padding: 4px 24px;

      &:hover {
        color: $colorEmerald;
      }
    }
  }
}
