@use '../utlities/variables' as *;
@use '../utlities/mixins' as *;
@use '../utlities/functions' as *;

.single-post-toc {
  width: 100%;
}

.toc-list {
  padding: 24px 16px;
  background: rgba(254, 253, 253, 0.5);
  border: 2px solid #fefdfd;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
  border-radius: 32px;
  list-style-type: none;
  margin: 0;

  @include mediaUp('md') {
    margin-top: 10px;
  }
  &__item {
    font-weight: 500;
    font-size: pxToRem(14);
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0;
    }

    &--active {
      .toc-list__item-link {
        color: $colorEmerald;
      }
    }

    &-link {
      text-decoration-line: underline;
      color: #113264;
      display: block;
      padding: 4px 24px;

      &:hover {
        color: $colorEmerald;
      }
    }
  }
}
