$sizes: (
  'xs': 320px,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1100px,
  'xxl': 1370px,
);

@mixin mediaUp($key) {
  @media (min-width: map-get($sizes, $key)) {
    @content;
  }
}

@mixin mediaDown($key) {
  @media (max-width: (map-get($sizes, $key) - 1px)) {
    @content;
  }
}

@mixin container() {
  max-width: 1296px;
  padding: 0 28px;
  width: calc(100% - 56px);
  margin: 0 auto;
  box-sizing: content-box;

  @include mediaUp(lg) {
    padding: 0 70px;
    width: calc(100% - 140px);
  }
}
