@use '../utlities/variables' as *;
@use '../utlities/functions' as *;
@use '../utlities/mixins' as *;

.footer {
  &-inner {
    margin-top: 75px;
    background-color: $colorEmerald;
    color: #fefdfd;
    border-radius: 64px 64px 0px 0px;
    font-size: pxToRem(14);
    padding: 32px 0 16px;
    @include mediaUp(sm) {
      padding: 48px 0 16px;
    }
  }

  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  a:not(.btn) {
    color: #b6e8d7;
  }

  &-copy {
    margin: 32px 0 0;
    text-align: center;
    color: #fefdfd;
    opacity: 0.5;
  }

  &-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #1b4845;
    padding-bottom: 32px;
    margin-bottom: 32px;
    @include mediaDown(sm) {
      flex-direction: column-reverse;
    }

    &-box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: auto;
      max-width: 260px;
      margin-bottom: 2rem;
      @include mediaUp(sm) {
        flex: 0 0 124px;
        max-width: 124px;
        margin-bottom: 0;
      }
    }

    &-social {
      padding: 0;
      margin: 0;
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &__item {
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &-logo {
    margin-bottom: 20px;
    &__image {
      width: auto;
      height: 41px;
    }
  }

  &-boxes {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-gap: 48px;
    &-item {
      &__title {
        margin: 0 0 16px;
        color: #fefdfd;
      }

      &__list {
        padding: 0;
        margin: 0;
        list-style: none;

        &-item {
          margin-bottom: 16px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &-informations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    &-boxes {
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
      max-width: 850px;
      position: relative;
      flex-grow: 1;

      @include mediaUp(md) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      @include mediaUp(xl) {
        flex-wrap: wrap;
      }
      &__item {
        padding: 0;
        margin: 0 30px 0 0;
        list-style: none;
        width: 100%;
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0;
          margin-right: 0;
        }

        @include mediaUp(md) {
          &--first {
            flex: 0 0 140px;
          }

          &--second {
            flex: 0 1 37%;
          }

          &--third {
            flex: 0 1 30%;
          }
        }
      }
    }

    &-nav {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px 70px;
      grid-auto-rows: max-content;
      border-top: 1px solid #1b4845;
      padding-top: 32px;
      margin-top: 24px;
      width: 100%;
      @include mediaUp(xxl) {
        width: auto;
        padding-top: 0;
        margin-top: 0;
        padding-left: 70px;
        border-left: 1px solid#1b4845;
        border-top: 0;
      }

      a {
        text-decoration: underline;
      }

      &__list {
        padding: 0;
        margin: 0;
        list-style: none;

        &-item {
          margin-bottom: 16px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    &-privacy {
      grid-column: span 2;

      &__links {
        display: inline-flex;
      }
    }
  }
}
