@use '../utlities/variables' as *;

.header {
  &-top {
    background-color: $colorEmerald;
    color: $colorWhite;
    padding: 15px 0;
    &-content {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    &-switcher {
      margin-right: 50px;
    }

    &-social {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      list-style: none;
    }
  }
}
