@use '../utlities/variables' as *;

.header {
  position: sticky;
  top: 0;
  z-index: 111;
  &-top {
    background-color: $colorEmerald;
    color: $colorWhite;
    padding: 15px 0;
    &-content {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    &-switcher {
      margin-right: 50px;
    }

    &-social {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      list-style: none;
    }
  }

  &-main {
    padding: 20px 0;
    background-color: $colorPearl;

    &-logo {
      margin-right: 36px;
      &__image {
        height: 34px;
        width: auto;
      }
    }

    &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
