@use '../utlities/variables' as *;
@use '../utlities/functions' as *;
@use '../utlities/mixins' as *;
@use '../general/container' as *;
@use '../elements/buttons' as *;

@include mediaDown(xl) {
  .nav {
    width: 100%;
    position: relative;
    z-index: 2;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.9);
      z-index: -1;
    }

    &__list {
      padding: 0;

      & > li {
        margin-bottom: 16px;
        &:last-child {
          margin-bottom: 0;
        }

        & > a {
          padding: 8px 20px;
        }

        &.menu-item-has-children {
          .sub-menu {
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            padding-top: 0;
            transition: max-height 0.4s ease, opacity 0.3s ease,
              padding-top 0.3s ease;

            & > li {
              margin-bottom: 16px;
              &:last-child {
                margin-bottom: 0;
              }
              & > a {
                padding: 8px 20px;
              }
            }
          }

          &.menu-item--active {
            .sub-menu {
              max-height: 500px;
              max-height: max-content;
              opacity: 1;
              padding: 8px 24px;
            }
          }

          & > a {
            position: relative;
            padding-right: 40px;
            &::after {
              content: '';
              background: url('@images/icon/arrow-bottom.svg');
              width: 10px;
              height: 7px;
              position: absolute;
              top: 15px;
              right: 20px;
            }
          }
        }
      }

      .button-item {
        & > a {
          width: 100%;
        }
      }

      li {
        a {
          display: block;
        }
      }
    }

    .menu-mega-item {
      .menu-mega-item__text-title {
        margin: 0;
      }

      .menu-mega-item__text-description,
      .menu-mega-item__icon {
        display: none;
      }
    }

    .sub-menu {
      padding-left: 0;
    }
  }
}
