@use '../utlities/variables' as *;
@use '../utlities/functions' as *;
@use '../utlities/mixins' as *;

.rules-information {
  font-size: pxToRem(14);
  line-height: 1.5em;
  @include mediaUp(md) {
    margin-top: 75px;
  }
}
