@use '../utlities/variables' as *;
@use '../utlities/mixins' as *;

.archive {
  &-main {
    padding-top: 48px;
    @include mediaUp(md) {
      padding-top: 64px;
    }
  }

  &-terms {
    margin-bottom: 64px;
    &__list {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
    }

    &__item {
      margin-right: 16px;
      &:last-child {
        margin-right: 0;
      }

      &--active,
      &:hover {
        .badge {
          background-color: #b6e8d7;
          color: rgba(27, 72, 69, 1);
        }
      }
    }
  }

  &-posts {
    margin: 0;
    padding: 0;
    display: grid;
    list-style-type: none;
    position: relative;
    grid-template-columns: 1fr;
    grid-gap: 32px;
    @include mediaUp(sm) {
      grid-gap: 48px;
      grid-template-columns: repeat(2, 1fr);
    }
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      );
      filter: blur(5px);
      z-index: 1;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.3s linear;
    }

    &--loading {
      &::after {
        visibility: visible;
        opacity: 1;
      }
    }

    &-item {
      border-radius: 48px;
      overflow: hidden;
      background: rgba(254, 253, 253, 0.5);
      border: 2px solid #fefdfd;
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);

      &__logo {
        height: 44px;
        filter: grayscale(1);
        margin-bottom: 16px;
        display: block;
      }

      &__header {
        height: 240px;
        position: relative;
        width: 100%;
        display: block;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top center;
        }
      }

      &__box {
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      &__title {
        margin: 0 0 16px;
      }

      &__content {
        margin: 0 0 32px;
      }
    }
  }
}
