@use '../utlities/variables' as *;
@use '../utlities/functions' as *;
@use '../general/typography' as *;

.single-post {
  .container {
    max-width: 1184px;
  }

  h1 {
    @extend .h2;
  }

  h2 {
    @extend .h3;
  }

  h3 {
    @extend .h4;
  }

  h4,
  .h4 {
    @extend .text-subheader;
    text-align: left;
    color: #113264;
  }

  &-header {
    padding: 64px 0px 0;
    background: linear-gradient(173.54deg, #74d2ad -104.98%, #1f5a57 94.91%);
    border-radius: 0px 0px 64px 64px;
    color: #fefdfd;
    font-size: pxToRem(18);
    $header: &;

    .container#{$header}-content {
      max-width: 1072px;
    }

    h1 {
      color: inherit;
    }

    &__type {
      font-family: $headingFontFamily;
      font-weight: 600;
      font-size: pxToRem(21);
      text-transform: uppercase;
      color: #b6e8d7;
      margin: 0 0 8px;
    }

    &__title {
      margin: 0 0 16px;
    }

    &__excerpt {
      margin: 0 0 48px;
    }

    &__thumbnail {
      height: 194px;
      &-image {
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.16);
        box-shadow: 0px 0px 15px rgba(31, 90, 87, 0.25);
        border-radius: 64px;
        height: 416px;
        display: block;
        object-fit: cover;
        object-position: top;
      }
    }
  }

  &-row {
    margin-top: 240px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 48px;
  }

  &-aside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0 0 400px;
    position: sticky;
    top: 140px;
  }

  &-builder {
    flex: 1;

    p {
      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  br {
    content: '';
    display: block;
    height: 30px;
  }
}
