@use '../utlities/variables' as *;
@use '../utlities/functions' as *;
@use '../utlities/mixins' as *;

.badge {
  padding: 8px 16px;
  background: #fefdfd;
  border: 1px solid #b6e8d7;
  border-radius: 8px;
  transition: background 0.3s ease;
  display: block;
  color: rgba(27, 72, 69, 1);
}

.badges {
  &-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;

    &__item {
      button.badge {
        &:hover {
          background: #b6e8d7;
          border-color: #b6e8d7;
          color: $colorEmerald;
        }
      }

      &--active {
        .badge {
          background: #b6e8d7;
          border-color: #b6e8d7;
          color: $colorEmerald;
        }
      }
    }
  }
}
