@use '../utlities/variables' as *;
@use '../utlities/functions' as *;

.link-more {
  $link: &;
  font-size: pxToRem(16);
  padding: 12px 20px 11px;
  margin-left: -20px;
  font-weight: 500;

  &--reverse {
    .link-more__text {
      flex-direction: row-reverse;
    }

    .link-more__icon {
      transform: rotate(180deg);
      margin-right: 4px;
      margin-left: 0;
    }
  }

  &__text {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &::after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #1b4845;
      transition: transform 0.3s ease;
      transform: scaleX(0);
      transform-origin: left;
    }
  }

  &__icon {
    margin-left: 4px;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    #{$link}__text {
      &::after {
        transform: scaleX(1);
      }
    }
  }

  &--small {
    font-size: pxToRem(14);
    padding: 8px 16px 7px;
  }

  &--large {
    font-size: pxToRem(18);
  }
}
